body {
  background-color: #F2F2F2;
}

#icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

#title > h1 {
  font-size: 20px;
  margin-bottom: 3px;
}

#title > h2 {
  font-size: 13px;
  margin-top: 3px;
  font-weight: normal;
}

#search {
  clear: both;
  margin-top: 20px;
  margin-bottom: 5px;
}

#search > input {
  width: 590px;
}

#container {
  padding: 5px;
  background-color: black;
  color: #EEC97D;
  font-size: 13px;
  height: 450px;
  width: 600px;
  overflow: scroll;
}

.searchresult {
  background-color: white;
  font-weight: bold;
  text-decoration: underline;
}